{# templates/article/fragments/_article_comment.html.twig #}
{% for comment in article.comments %}
    <div class="comment">
        <div class="comment-header">
            <div class="comment-pseudo">
                {% if comment.user.image %}
                    <img src="{{ asset('images/' ~ comment.user.image) }}" alt="Photo de {{ comment.user.pseudo }}">
                {% else %}
                    <img src="{{ asset('images/profil_default.jpg') }}" alt="Photo par defaut de l'auteur">
                {% endif %}
                <p>{{ comment.user.pseudo }}</p>
            </div>
            <div class="comment-date">
                <p>{{ comment.publication_date|date('d/m/Y') }}</p>
            </div>
        </div>
        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>
    </div>
{% endfor %}