<div class="banner-card">
    <div class="banner-img">
        {% if article_banner.image %}
            <img src="{{ asset('images/' ~ article_banner.image) }}" alt="image de {{ article_banner.title }}">
        {% else %}
            <img src="{{ asset('images/article_default.jpg') }}" alt="photo par defaut de l'article">
        {% endif %}
    </div>
    <div class="banner-text">
        <div class="banner-categorie">
            <h3>{{ article_banner.categorie.name }}</h3>
        </div>
        <div class="banner-title">
            <h2>{{ article_banner.title }}</h2>
        </div>
        <div class="banner-summary">
            <p>{{ article_banner.summary }}</p>
        </div>
        <div class="banner-pseudo">
            {% if article_banner.user.image %}
                <img src="{{ asset('images/' ~ article_banner.user.image) }}" alt="Photo de {{ article_banner.user.pseudo }}">
            {% else %}
                <img src="{{ asset('images/profil_default.jpg') }}" alt="Photo par defaut de l'auteur">
            {% endif %}
            <p>{{ article_banner.user.pseudo }}</p>
        </div>
        <div class="banner-footer">
            <div class="banner-date">
                <p>{{ article_banner.date|date('d/m/Y') }}</p>
            </div>
            <div class="banner-social">
                <div class="banner-comment">
                    <img src="{{ asset('icons/message_circle.svg') }}" alt="nombre de commentaire">
                    <p>{{ nbrComment }}</p>
                </div>
                <div class="banner-like">
                    <img src="{{ asset('icons/heart.svg') }}" alt="nombre de like">
                    <p>{{ nbrlike }}</p>
                </div>
            </div>
        </div>
    </div>
</div>