{# templates/article/fragments/_card_article.html.twig #}
<div class="card">
    <div class="card-img">
        {% if article.image %}
            <img src="{{ asset('images/' ~ article.image) }}" alt="visuel de l'article">
        {% else %}
            <img src="{{ asset('images/article_default.jpg') }}" alt="visuel de l'article par defaut">
        {% endif %}
    </div>
    <div class="card-text">
        <div class="card-categorie">
            <a href="{{ path('app_article', {'categorieId' : article.categorie.id}) }}" class="p-categorie">{{ article.categorie.name }}</a>
            <!-- si l'utilisateur est connecté et est l'auteur de l'article -->
            {% if app.user and app.user == article.user %}
                <a href="{{ path('article_edit', {id: article.id}) }}" class="edit-btn">Editer</a>
            {% endif %}
        </div>
        <div class="card-title">
            <h5>{{ article.title }}</h5>
            <p class="p-title">{{ article.user.pseudo }}</p>
        </div>
        <div class="card-date">
            {% if article.updateDate %}
                <p class="p-date">modifié le {{ article.updateDate|date('d-m-Y')}} à {{ article.updateDate|date('H\\hi') }}</p>
            {% else %}
                <p class="p-date">publié le {{ article.creationDate|date('d-m-Y')}} à {{ article.creationDate|date('H\\hi') }}</p>
            {% endif %}
        </div>
        <div class="card-summary">
            <p>{{ article.summary }}</p>
        </div>
        <div class="card-link">
            <a href="{{ path('article_show', {id: article.id}) }}">Lire la suite</a>
            <img src="{{ asset('icons/arrow_right.svg') }}" alt="lien vers lecture de l'article">
        </div>
        <div class="card-social">
            <div class="card-comment">
                <img src="{{ asset('icons/message_circle.svg') }}" alt="nombre de commentaire">
                <p>{{ article.comments|length }}</p><!-- nbr de commentaires -->
            </div>
            <div class="card-like">
                <img src="{{ asset('icons/heart.svg') }}" alt="nombre de like">
                <p>{{ article.likes|length }}</p><!-- nbr de like -->
            </div>
        </div>
    </div>
</div>