{# templates/article/show_article.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détail de l'Article{% endblock %}

{% block body %}
    <section class="container-detail-article">
        <div class="article-detail">
            <div class="article-categorie">
                <p>{{ article.categorie.name }}
            </div>
            <div class="article-title">
                <h2>{{ article.title }}
            </div>
            <div class="article-date">
                <p class="p-date">le {{ article.creationDate|date('d-m-Y')}} à {{ article.creationDate|date('H\\hi') }}</p>
            </div>
            <div class="article-summary">
                <h4>{{ article.summary }}</h4>
            </div>
        </div>
        <div class="article-img">
            {% if article.image %}
                <img src="{{ asset('images/' ~ article.image) }}" alt="photo de l'article">
            {% else %}
                <img src="{{ asset('images/article_default.jpg') }}" alt="photo par defaut de l'article">
            {% endif %}
        </div>
        <div class="article-content">
            <p>{{ article.content }}</p>
        </div>
        <div class="article-footer">
            <div class="article-pseudo">
                {% if article.user.image %}
                    <img src="{{ asset('images/' ~ article.user.image) }}" alt="Photo de {{ article.user.pseudo }}">
                {% else %}
                    <img src="{{ asset('images/profil_default.jpg') }}" alt="Photo par defaut de l'auteur">
                {% endif %}
                <p>{{ article.user.pseudo }}</p>           
            </div>
            <div class="article-social">
                <div class="card-comment">
                    <img src="{{ asset('icons/message_circle.svg') }}" alt="nombre de commentaire">
                    <p>{{ article.comments|length }}</p>
                </div>
                <div class="card-like">
                    <img src="{{ asset('icons/heart.svg') }}" alt="nombre de like">
                    <p>{{ article.likes|length }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fuild"></section>
    <section class="container-comment">
        <h4>Commentaires</h4>
        {% include 'article/fragments/_article_comment.html.twig' %}
    </section>
    {% if app.user %}
        <section class="container new-comment">
            <div class="comment-form">
                {{ form_start(form) }}
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                    <button type="submit" class="secondary-btn">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </section>
    {% endif %}
{% endblock %}